{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'javascript/login.js' %}"></script>
    <script src="{% static 'javascript/cookie_utils.js' %}"></script>
</head>

<body>

    <div id="login-container">
        <div id="login-div">
            <h1>Login</h1>
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div id="access-code-container">
                    <!-- Add a new input for the access code -->
                    <label for="access-code">Access Code:</label>
                    <input type="text" id="access-code" name="access_code" required>
                </div>
                <button type="button" id="login-button" onclick="submitCredentials('{{ base_api_url }}')">Login</button>
                <button type="button" id="validate-button" style="display: none;" onclick="submitLogin('{{ base_api_url }}')">Validate</button>
            </form>
            <div id="error-message" style="color: red;"></div>
            <div id="valid-credentials-message" style="color: green; display: none;">Credentials were valid. Check your email for your access code.</div>
            <div id="login-success-message" style="color: green; display: none;">Login successful!</div>
        </div>
    </div>

</body>

</html>
