<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form id="login_initial-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="button" onclick="submitLogin()">Login</button>
    </form>

    <div id="error-message" style="color: red;"></div>
    <div id="success-message" style="color: green; display: none;">Credentials are valid. Please check your email for the access code.</div>

    <script>
        const baseApiUrl = "{{ base_api_url }}";
        
        function submitLogin() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Make a POST request to API endpoint
            fetch(`${baseApiUrl}authentication/login-initial/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Invalid username or password');
                }

                // Show the success message
                document.getElementById('success-message').style.display = 'block';
            })
            .catch(error => {
                // Display error message
                document.getElementById('error-message').textContent = error.message;
            });
        }
    </script>

</body>
</html>