body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(21, 21, 31);
    color: rgb(127, 127, 155);
}

h1 {
    text-align: center;
    background-color: #010114;
    color: #ededf0;
    padding: 1em;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #030314;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #010114;
    color: #ededf0;
}

td {
    max-width: 200px;
    max-height: 100px;
    overflow: auto;
    text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

tr:nth-child(even) {
    background-color: #122129;
}