.popup-container {
    position: fixed;
    min-width: 200px;
    max-width: 600px;
    min-height: 50px;
    width: auto;
    height: auto;
    z-index: 9999;
    background-color: #122129;
}

.popup-textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #122129;
    border: none;
    padding: 10px;
    color: #ededf0;
    resize: none;
    overflow: auto;
    text-align: left;
}

.popup-select {
    position: absolute;
    min-height: 60px;
    min-width: 100px;
    max-width: 600px;
    width: auto;
    z-index: 9999;
    background-color: #122129;
    color: #ededf0;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.popup-select option {
    background-color: #122129;
    color: #ededf0;
}

.popup-select:hover,
.popup-select:focus {
    background-color: #1d2b38;
    outline: none;
}