body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #f6f8fa;
    color: #24292e;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signup-container {
    text-align: center;
}

#signup-form {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 300px;
    display: inline-block;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 8px;
}

.mfa-option {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

.mfa-option label {
    margin-right: 8px;
    margin-bottom: 0;
}

.mfa-option input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    color: #24292e;
    background-color: #fff;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px; /* Space above buttons */
}

button {
    padding: 8px 16px;
    border: 1px solid #0366d6;
    border-radius: 6px;
    background-color: #0077ff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.2s;
}

button:hover {
    background-color: #005cc5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.back-to-login-btn {
    padding: 8px 16px;
    border: 1px solid #0366d6;
    border-radius: 6px;
    background-color: #0077ff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.2s;
}

.back-to-login-btn:hover {
    background-color: #005cc5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.back-to-login-btn:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}